{% if readOnly and not elements|length %}
	<p>{{ 'No related entries exist yet.'|t }}</p>
{% else %}
	{% include '_includes/forms/elementSelect' %}
{% endif %}

{% if readOnly %}
	{% includejs %}
		$('#{{ id|namespaceInputId }}').find('.add, .delete').remove();
	{% endincludejs %}
{% endif %}
