{% if readOnly and elements|length < 1 %}
	<p>{{ 'No related entries exist yet.'|t("reverserelations") }}</p>
{% else %}
	{% include '_includes/forms/elementSelect' %}
{% endif %}

{% if readOnly %}
	{% includejs %}
		$('#{{ id|namespaceInputId }}').find('.add, .delete').remove();
	{% endincludejs %}
{% endif %}
